/* intuitivnejsi box-sizing */
*, :after, :before { box-sizing: border-box; }

body {
	font: 24px/1 sans-serif;
}

/* ---------------------------------------------------- */

/*
	Nakóduj stránku podle obrázku zadani-ukolu.jpg.
	Rozložení stránky se mění v breakpointech:
	- 640px
	- 1000px
*/


/*
	Jsem na tebe hodný a už jsem ti připravil
	základní styl pro logo a pro odkazy.
*/
.hlavicka {
	padding: 10px;
	border: 1px solid silver;
}

.logo {
	font-weight: bold;
	text-align: center;
}

a {
	text-decoration: none;
	background-color: #f0f0f0;
	color: #e74c3c;
	display: block;
	padding: 10px 20px;
}

a:hover {
	background-color: #e74c3c;
	color: white;
}

li{
	list-style-type: none;
	margin: 2px 0;
}

.logo{
	margin-bottom: 20px;
}

ul{
	margin: 0;
	padding: 0;
}

body{
	text-align: center;
}

@media screen and (min-width: 640px){

	.menu{
		display: flex;
		flex-wrap: nowrap;
		white-space: nowrap;
	}
	li{
		display: inline-block;
		margin: 0 1px;
		width: calc((100% - 6px) / 4);
	}

	ul{
		padding: 0%;
		flex: 1 1 100%;
	}
}

@media screen and (min-width: 1000px) {
	.hlavicka{
		display: flex;
		position: relative;
	}

	.menu{
		position: absolute;
		right: 10px;
	}

	.logo{
		margin: 10px 0;
	}
}